.body {
  background-color: #a3a3c2;
}
.topheading {
  font-family: 'Bahiana';font-size: 80px;
  padding: 4px 4px 4px 4px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: white;
  padding: 10px;
  margin: auto;
  width: 50%;
}
.grid-item-green {
  background-color: green;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-item-yellow {
  background-color: yellow;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-item-red {
  background-color: red;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-item-blue {
  background-color: blue;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
