/*
body {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 0%;
  font-family: "Open Sans", sans-serif;
  background-image : url("Technical Architecture VE.jpg");
  background-position: top top;
  background-repeat: no-repeat;
}
*/

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  font-family: sans-serif;font-size: 35px;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #777777;
  padding: 10px;
  margin: auto;
  width: 50%;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #f44336;} /* Red */
